{% extends 'app/base.html' %}   
{% load static %}   
{% block title %}Wishlist{% endblock title %}       
{% block wishlist-content %}   
<div class="container my-5">
    <div class="row">
     <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3> 
      <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'wishlist' %}" class="btn btn-primary">Wishlist</a></li> 
        </ul>
      </div> 
      <div class="col-sm-9 offset-sm-1">   
            {% for ws in wish %}  
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{{ws.product.product_image.url}}" class="img-fluid" height="100" width="100"/>
                  </div> 
                <div class="col-sm-7">
                  <p>Product: {{ws.product.title}}</p>
                  <p>Price: {{ws.product.discounted_price}}</p>     
                </div>   
               </div> 
            {% endfor %}     
      </div>
    </div>
  </div>
{% endblock wishlist-content %}  